@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  font-family: 'Public Sans', sans-serif;
  line-height: 120%;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Disable horizontal scrolling */
  margin: 0;
  padding: 0;
}
:root {
  --beige1: #F8f4f0;
  --beige2: #98908b;

  --gray1: #201f24;
  --gray2: #696868;
  --gray3: #b3b3b3;
  --gray4: #f2f2f2;

  --green: #277c78;
  --yellow: #f3cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;

  --purple2: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navyGray: #97a0ac;
  --armyGreen: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;
}
/* ----------- COLORS -----------*/
.beige1 { background-color: #F8f4f0 }
.beige2 { background-color: #98908b }

.gray1 { background-color: #201f24 }
.gray2 { background-color: #696868 }
.gray3 { background-color: #b3b3b3 }
.gray4 { background-color: #f2f2f2 }

.green { background-color: #277c78 }
.yellow { background-color: #f3cdac }
.cyan { background-color: #82c9d7 }
.navy { background-color: #626070 }
.red { background-color: #c94736 }
.purple { background-color: #826cb0 }

.purple2 { background-color: #af81ba }
.turquoise { background-color: #597c7c }
.brown { background-color: #93674f }
.magenta { background-color: #934f6f }
.blue { background-color: #3f82b2 }
.navyGray { background-color: #97a0ac }
.armyGreen { background-color: #7f9161 }
.gold { background-color: #cab361 }
.orange { background-color: #be6c49 }
/* ----------- COLORS -----------*/

/* ----------- TYPOGRAPHY -----------*/
.txt1 {font-size: 12px; line-height: 150%; letter-spacing: 0;}
.txt1b {font-size: 12px; line-height: 150%; letter-spacing: 0; font-weight: 700;}
.txt2 {font-size: 14px; line-height: 150%; letter-spacing: 0;}
.txt2b {font-size: 14px; line-height: 150%; letter-spacing: 0;  font-weight: 700;}
.txt3 {font-size: 16px; line-height: 150%; letter-spacing: 0;}
.txt3b {font-size: 16px; line-height: 150%; letter-spacing: 0; font-weight: 700;}
.txt4 {font-size: 20px; line-height: 120%; letter-spacing: 0; font-weight: 700;}
.txt5 {font-size: 28px; line-height: 120%; letter-spacing: 0; font-weight: 700;}
/* ----------- TYPOGRAPHY -----------*/

.navlink{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 0;
  padding-left: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--gray3);
}
.navlink-small{
  border: #201f24 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: var(--gray3);
}

.pseudo-element {@apply z-20 absolute px-[5px] py-[2px] rounded-[5px] left-[65px] w-fit}
.pseudo-element2 {@apply z-10 absolute  w-[15px] h-[15px] rotate-45 right-[-7px] top-[50%] transform translate-y-[-50%]}

.navlink:hover {color: white}
.navlink-small:hover {color: white;}

.linkIsActive {background-color: var(--beige1); border-left: 5px solid var(--green);}
.linkIsActive svg {fill: var(--green); transform: translateX(-5px) scale(1.4);}
.linkIsActive .link-name {color: black; transform: translateX(-5px);}

.small-linkIsActive {background-color: var(--beige1); border-bottom: 5px solid var(--green);}
.small-linkIsActive svg {fill: var(--green)}
.small-linkIsActive .link-name {color: black;}

/* ------------------------------------------------------------------------ */
.editInputStyles {@apply px-[20px] cursor-pointer border border-[#7c7c7c] hover:border-[#121212] rounded-[10px] w-full outline-none p-[10px] text-[16px] font-sans font-[400]}
.gridBox {@apply p-[30px] rounded-[10px] bg-white}
.transition1 {@apply transition-all ease-in-out duration-150 }
.transition2 {@apply transition-all ease-in-out duration-500 }
.subText {@apply text-[13px] text-[#6a6a6a]}
.thinSubText {@apply font-sans text-[13px] text-[#6a6a6a] font-light}
.thinSubText2 {@apply text-[12px] text-[#fefefe] font-light font-sans tracking-[0.7px]}
.thinSubText_POTS {@apply font-sans font-[400] text-[14px] text-[#636363]}
.thinSubTextGreen {@apply text-[13px] text-[#277c78] font-semibold font-sans tracking-[0.5px]}
.thinSubTextRed {@apply text-[12px] text-[#e02b2b] font-sans tracking-[0.5px]}
.section {@apply beige1 px-[35px] py-[30px] flex flex-col w-full min-h-screen max-950:pb-[100px]}

.text_svg {
  color: var(--gray2);
  fill: var(--gray2);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; /* Or specify your font */
  letter-spacing: 1px;
  font-weight: 100;
  cursor: pointer;
}
.text_svg:hover {
  color: black;
  fill: black !important;
}
.SHADOW {@apply shadow-[0_0_10px_rgba(0,0,0,0.3)]}
h4{
  color: #d0d0d0;
}
.GAP {@apply gap-[25px]}
.headerGAP {@apply gap-[35px]}
.Add_Button {@apply gray1 text-white px-[15px] py-[17px] text-[16px] rounded-[10px] font-sans}

.mobile_dropdown_container_category {@apply absolute font-sans h-[302px] overflow-y-auto right-0 flex flex-col py-[10px] px-[15px] bg-white w-[165px] rounded-[10px] shadow-[0px_2px_10px_rgba(0,0,0,0.4)] mt-[40px] items-start }
.abs_center {@apply top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]}

.themeButtonStyles {@apply flex items-center justify-between px-[16px] p-[10px] cursor-pointer border border-[#7c7c7c] hover:border-[#121212] rounded-[10px] w-full outline-none text-[16px] font-sans font-[400]}
.themeButtonListStyles {@apply flex items-center justify-between py-[10px] cursor-pointer border-b w-full outline-none text-[16px] font-sans font-[400]}
.potsButtonHover {@apply flex flex-1 justify-center items-center py-[15px] px-[10px] rounded-[10px] bg-BEIGE hover:bg-white hover:border-[#abab98] hover:border border border-transparent}

.drop_down_theme_list {@apply z-50 rounded-[10px] SHADOW absolute bottom-[-245px] w-[101%] h-[230px] right-[-2px] bg-[#fff] border px-[20px] py-[5px] flex flex-col overflow-y-auto}

.AUTH_INPUTS {@apply h-[50px] text-[18px] font-sans border rounded-[7px] w-full py-[8px] px-[10px] outline-none hover:border-[#505050]}

.AUTH_INPUTS_ICON {@apply text-[18px] font-sans rounded-[7px] w-full py-[8px] px-[10px] outline-none}


